

.slider li {
    list-style-type: none;
    position: absolute;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.slider li.active {
    opacity: 1;
  }

.slider li img{
    width: 960px;
}c  

.slider{
    width: 960px;
    position: relative;
}

.buttons{
    display: flex;
    flex-direction: row;
}

button{
    border: none;
    background-color: rgba(0, 0, 0, 0.186);
    border-radius: 15px;
    padding: 40px;
    position: absolute;
}

button:hover {
    transform: scale(1.1);
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.25);
}

button > svg {
    transform: scale(5);
    color: rgba(255, 255, 255, 0.5);
}

button > svg:hover{
    color: rgba(255, 255, 255, 0.8);
}


.next-slide>button{
    right: 20px;
    top: 200px;
}

.prev-slide>button{
    left: 20px;
    top: 200px;
}