.container{
    margin: auto;
}

.container .spoiler_wrapper{
    margin: 20px;
}

.container .spoilers .spoiler_title{
    font-size: 2rem;
    font-weight: bolder;

    display: flex;
    flex-direction: row;

}

.container .spoilers .spoiler_title span{
    justify-content: baseline;
}

.container .spoilers .spoiler_title .svg{
    margin: 0px 20px;
}

.container .spoilers .spoiler_text{
    font-size: 1.5rem;
    font-weight: normal;
    margin: 10px;
}

.container .spoilers .spoiler_text {
    max-height: 0; /* Начальная высота */
    overflow: hidden; /* Скрытие избыточного контента */
    font-size: 1.5rem;
    font-weight: normal;
    transition: max-height 1s; /* Применение анимации к max-height */
}

.container .spoilers .spoiler_text.open {
    max-height: 1000px; /* Высота элемента при открытии, укажите достаточно большое значение */
}


.container .spoilers .spoiler_title.open .svg{
    transform: rotate(180deg);
    transition: all 0.5s;
    margin-top: -10px;
}
 
.container .spoilers .spoiler_title .svg{
    transform: rotate(0deg);
    transition: all 0.5s;
}

