form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 50px;
}
section.inputs {
  display: flex;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  gap: 10px;
}

.container {
  flex-grow: 1;
}

.container label {
  font-size: 1.2rem;
  text-align: center;
}

.container input,
.container select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.537);
  background-color: white;
}

input[type="submit"] {
  padding: 20px;
  border-radius: 10px;
  border: none;
  background-color: rgb(53, 249, 151);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
}

section.table {
    display: flex;
    justify-content: center;

    margin: 50px;

    font-size: 1.5rem;
}

table {
}

td {
  padding: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
}
