*{
    margin: 0;
    padding: 0;
}

.addtask{
    display: flex;
    justify-content: space-around;

    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.35);

    padding: 20px;
    margin: 20px 100px;

}

.addtask input{
    width: 90%;
    margin: 0px 10px;
    padding: 10px;

    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 1.2rem;
}

.addtask input::placeholder{
    font-size: 1.2rem;
}

.addtask button{
    width: fit-content;
    margin: 0px 10px;
    padding: 10px;

    border: none;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 10px;
}

.cards{
    display: flex;
    justify-content: flex-start;
}

.card{
    width: calc(25% - 100px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}


.card span.text{
    margin: 10px 0px;
    font-size: 1.2rem;
    text-wrap: wrap;
    overflow-y: auto;
}

.card button{
    color: white;
    background-color: rgba(255, 0, 0, 0.598);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
}
